
<div class="row">
    <div class="col-md-4">
        <span>Fecha Desde</span>
    </div>
    <div class="col-md-8">
        <input data-bind="value:fechaDesde" type="text" />
    </div>
    <div class="col-md-4">
        <span>Fecha Hasta</span>
    </div>
    <div class="col-md-8">
        <input data-bind="value:fechaHAsta" type="text" />
    </div>
    <div class="col-md-4">
        <span>Dependencias</span>
    </div>
    <div class="col-md-8">
        <select data-bind="value:optionDep">
            <option value="100">
                Derecho
            </option>
            <option value="200">
                Letras
            </option>
        </select>
    </div>
    <div class="col-md-4">
        <button id="btnNuevo" data-bind="click:nuevo">Crear</button>
    </div>
</div>


            
       