<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <title>Personal page</title>
</head>
<body>


    <table>
        <thead>
            <tr><th>First name</th><th>Age</th></tr>
        </thead>
        <tbody data-bind="foreach: children">
            <tr>
                <td data-bind="text: firstName"></td>
                <td data-bind="text: age"></td>
            </tr>
        </tbody>
    </table>

    <script src="~/Scripts/knockout-3.4.2.js"></script>
    <script type="text/javascript">
        // Model
        var person = {
            children: [
            { firstName: "Jonnie", age: 3 },
            { firstName: "Jane", age: 5 },
            { firstName: "Richard", age: 7 },
            { firstName: "Mary", age: 9 }
            ]
        };
        // ViewModel
        var PersonViewModel = function () {
            var self = this;
            self.children=person.children
        };
        // Apply
        ko.applyBindings(PersonViewModel);
    </script>
</body>
<!-- View will be here -->


</html>